<p>I am a fan of League of Legend and wanted to meet other players because I only have a few friends IRL that play LoL. After Average_Noxian started the /r/letsplaylol subreddit in an attempt to connect casual players with each other, I thought that a website like this would be a good resource. I left like forum and reddit posts didn't quite do it right and other matching websites were geared more towards ranked players instead of casual players (there are a lot more of us). </p>

<p><a href="http://www.reddit.com/r/letsplaylol">Visit the LetsPlayLoL subreddit</a></p>
<p><b>In game chat:</b> Private chatroom "/r/letsplaylol"</p>
<p><b>Unofficial Teamspeak server:</b> ts.killstealgaming.com [no password] (Thank you, sokii!)</p>

<p>As opposed to everyone creating user accounts, I've taken the "craigslist" approach where email addresses are used to edit / delete postings.</p>

<p>Currently, your listing will appear as soon as you submit; however, if this gets abused, I will add captchas and make email confirmation links mandatory.</p>

<p>I makes no guarantees against hackers and therefore only retains people's email addresses (it's encrypted before being save) & summoner name (along with your redditor name if you choose to make that available). If the database gets hacked, you are on your own. I made this as a service with no intent of earning any money on the project.</p>

<p>Thanks!</p>